body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app_component_credit_payability {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.form-container {
  top: 10%;
  width: 60%; /* Adjust the width as needed */
  position: relative;
}

.speedometer-container {
  top: 20%;
  width: 30%; /* Adjust the width as needed */
  position: relative;
}

